
/* * universal selector */
* {
 box-sizing: border-box; /* If you set box-sizing: border-box; on an element padding and border are included in the total width and height: */
}

/* Style the body */
body{
  font-family: Arial;
  line-height: 1.6;

}

.wrapper {
  padding-left: 2em;
  padding-right: 2em;
  min-height: 100vh;
  background-color: lightgray;
  border-radius: 6px;

}

.row {
  display:flex;
  align-items: center;
  justify-content: center;
}

/* Header/logo Title */
.header {
  padding: 70px;
  text-align: center;
  background: url("header_main.png") no-repeat center;
   background-color: orange;
  background-size: 100% 100%;
  color: white;
}




/* Style the navigation bar ***********************/

.navbar {
  display:flex;
  justify-content: center;
  background-color: #333;
}
.navigation {
  display:flex;
  flex-direction: column;
}
/* Style the navigation bar link */
.navbar a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/*  change color on hover */
.navbar a:hover{
  background-color: #ddd;
  color: black;
}

/* /Style the navigation bar */

/* Column  container************************* */


.col {
    padding: 1em;
  margin: 0 .5em .8em;
}

 .video {
  margin: 30px 30px;
  max-width: 80%;
}
.side_content {
  background-color: #f1f1f1;
  border-radius: 10px;
  text-align:center;
  margin: 20px 20px;
}

/* Main column */
.main {
  order: -1;
  background-color: white;
  border-radius: 25px;
  margin: 20px 20px;
}

.NewMovies {
  padding: 15px;
}



.main-footer {
	background: #333;
  color: white;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}

/* /Column  container************************* */

/*Responsive layout - when the screen is less than 700px wide, make the colums stack on top of each other instead of next to each other */



@media all and (min-width: 468px){
  .main{
    order: 0;
    flex-grow: 2;
  }

  .row{
    justify-content: center;
    align-items: flex-start;
  }
}


 @media all and (min-width: 768px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
   }



  .navigation {
    flex-direction: row;
  }
  .navbar {
    justify-content: center;
  }
}

@media all and (min-width: 1025px){
.wrapper{
  width: 80%;
  max-width: 1150px;
  }
  .main{
    flex-grow: 3;
  }
.video{
  align-self: flex-start;
}
  .navbar {
    justify-content: flex-end;
  }

}
